<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDBy5r_VlTEisb7LegXEWQV6ivlQSrGemk</string>
	<key>GCM_SENDER_ID</key>
	<string>1009721595166</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.noodle-quiz</string>
	<key>PROJECT_ID</key>
	<string>noodle-quiz</string>
	<key>STORAGE_BUCKET</key>
	<string>noodle-quiz.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1009721595166:ios:49b2631664fed7cc10650f</string>
	<key>ADMOB_APP_ID</key>
	<string>ca-app-pub-2284509452520955~2320970645</string>
</dict>
</plist>